@import "./colors.css";

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@700&display=swap");

body {
	background: var(--base);
	color: var(--text);

	/* Tailwind's sans font stack, very pretty */
	font-family: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
		"Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji",
		"Segoe UI Symbol", "Noto Color Emoji";

	margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: Inter;
	font-weight: 700;
}

a {
	color: var(--sky);
}

::selection {
	background: var(--surface2);
}
